* {
  margin-top: 0px;
  background-color: black;
}

body {
  margin: 0;
  font-family: 'Fanwood Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tenor Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home-screen {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  height: 226px;
  background-color: transparent;
}

#home-screen-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#home-subtitle {
  background-color: transparent;
}

#main-hover-menu {
  width: 300px;
  background-color: transparent;
}

#de-header-text {
  margin-bottom: 15px;
  background-color: transparent;
}

.home-nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

ol {
  display: flex;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

#home-footer {
  justify-content: right;
  width: 300px;
  padding-top: 10px;
  background-color: transparent;
}

#home-footer-text {
  font-size: 10px;
  background-color: transparent;
}

#home-footer-link {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

#dropdown-nav {
  text-align: left; 
  padding: 0px 10px;
  margin-top: 0px;
  background-color: transparent;
}

.navbar-collapse.collapse {
  background-color: transparent;
}

.me-auto.navbar-nav {
  background-color: transparent;
}

.nav-option {
  background-color: transparent;
}

#contact-page {
  background-color: black;
}

.react-reveal {
  background-color: transparent;
}

#app-container {
  background-color: transparent;
}

#root {
  background-color: transparent;
}

#video-source {
  background-color: transparent;
}

#dropdown-link-container {
  background-color: transparent;
}