* {
  margin-top: 0px;
  background-color: #F2F5F4;
  color: #424242;
  font-family: 'Fanwood Text', serif;
}

body {
  margin: 0;
  /* font-family: 'Fanwood Text', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tenor Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

  @media screen and (min-width: 961px) and (max-width: 1880px) {

    .container {
      width: 1200px;
    }

  }

  @media screen and (min-width: 961px) and (max-width: 1620px) {

    .container {
      width: 960px;
    }

  }

  @media screen and (min-width: 961px) and (max-width: 1320px) {

    .container {
      width: 100%;
    }

  }

  @media screen and (max-width: 960px) {

    .container {
      width: 100%;
    }

  }

  @media screen and (max-width: 736px) {

    .container {
      width: 100%;
    }

  }

/* Site-Wide Items */

#breadcrumb-container {
  color: #424242;
  padding: 10px 0px;
  width: 42rem;
}

.breadcrumb {
  justify-content: flex-start;
}

.breadcrumb-item {
  flex: 1;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-page {
  width: 100%;
  height: 100%;
}

.section-header {
  margin: 15px;
  padding: 5px;
  width: 10vw;
}

.section-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.section-text {
  width: 60%;
  margin: 10px;
  padding: 5px;
}

.section-image > img {
  height: 450px;
  width: auto;
  margin: 10px;
  padding: 10px;
}

/* Splash Screen */

#home-screen {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  height: auto;
  padding: 10px;
}

#splash-computer {
  height: 450px;
  width: auto;
  padding: 50px;
}

#home-subtitle {
  width: 50vw;
}

#de-header-text {
  margin-bottom: 15px;
}

#main-hover-menu {
  width: 450px;
}

.home-nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

ol {
  display: flex;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

#home-footer {
  justify-content: right;
  width: 300px;
  padding-top: 10px;
}

#home-footer-text {
  font-size: 10px;
}

#home-footer-link {
  text-decoration: none;
}

#dropdown-nav {
  text-align: left; 
  padding: 0px 10px;
  margin-top: 0px;
  width: 50rem;
}

.me-auto.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

.nav-option {
  flex: 1;
}

#dropdown-link-container {
  width: 50rem;
}

#nav-parallax-layer {
  display: flex;
  margin: 20px;
  padding: 25px;
  justify-content: flex-start;
}

/* Portfolio Cards */

.card-holder {
  margin: 5px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.card-col {
  margin-bottom: 8px;
}

/* Wide */

@media screen and (min-width: 961px) and (max-width: 2500px) {

  /* Basic */

    body, input, textarea, select {
      font-size: 17pt;
    }

    .row {
      align-items: center;
    }
    

    .section-image {
      align-items: center;
    }

  /* Header */

    .section-header {
      width: 300px;
    }

  Image
    img {
      display: flex;
      height: 300px;
      object-fit: cover;
      width: 100%;
    }

}

/* Normal */

@media screen and (min-width: 961px) and (max-width: 1620px) {

  /* Main */

    .section-content {
      padding: 3em 0;
    }

}

/* Narrow */

@media screen and (min-width: 961px) and (max-width: 1320px) {

  /* Basic */

    body, input, textarea, select {
      font-size: 16pt;
    }

    .container {
      padding: 0 2em 0 2em;
    }

  /* Header */

    header {
      width: 20%;
    }

    nav ul li a {
      font-size: 0.8em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

      nav ul li a span {
        padding-right: 2.25em;
      }

        nav ul li a span:before {
          left: 100%;
          margin-left: -1.25em;
          line-height: 2.25em;
        }

}

/* Narrower */

@media screen and (max-width: 960px) {

  /* Basic */

    html, body {
      overflow-x: hidden;
    }

    body, input, textarea, select {
      font-size: 16pt;
    }

    header br {
      display: none;
    }

    .container {
      padding: 0 2em 0 2em;
    }

    .row {
      flex-direction: column;
    }


  /* Header */

    nav ul li a {
      padding: 0.5em 1.25em 0.5em 1.25em;
    }

  /* Image */
  
    #splash-computer {
      display: flex;
      padding: 10px;
      margin-top: 50px;
      height: auto;
      object-fit: cover;
      width: 100%;
    }

    .section-image {
      display: inline-block;
      padding: 10px;
      height: 200px;
      object-fit: cover;
      width: 100%;
    }

}

/* Mobile */

@media screen and (max-width: 736px) {

  /* Basic */

    body, input, textarea, select {
      font-size: 14pt;
    }

    h2 {
      font-size: 1.5em;
      letter-spacing: 0;
      font-weight: 300;
    }

    .container {
      padding: 0 15px 0 15px;
    }
  
    /* Image */

    .section-image {
      display: inline-block;
      height: 25vh;
      object-fit: contain;
      width: 100%;
    }

}